---
layout: page
title: CompTIA Security+ Posts
comments: false
---

<!-- We reopen main-content and container -->

<div class="container">
    <div class="main-content">


        <!-- Featured
        ================================================== -->
        <section class="featured-posts">

            <div class="section-title">
                <h2><span>CompTIA Security+ Category</span></h2>
            </div>

            <div class="row listfeaturedtag">
                <div class="col-sm-8">

                    {% for post in site.posts %}

                    {% if post.securityplus == true %}

                    {% include securityplusbox.html %}

                    {% endif %}

                    {% endfor %}

                </div>
                <div class="col-sm-4">
                    {% include sidebar.html %}
                </div>
            </div>


        </section>