---
layout: page
title: CompTIA Security+ Posts
comments: false
---

<!-- We reopen main-content and container -->

<div class="container">
    <div class="main-content">


        <!-- Featured
        ================================================== -->
        <section class="featured-posts">
            <div class="col-sm-8">

                <div class="section-title">
                    <h2><span>Featured</span></h2>
                </div>

                <div class="row listfeaturedtag">

                    {% for post in site.posts %}

                    {% if post.securityplus == true %}

                    {% include securityplusbox.html %}

                    {% endif %}

                    {% endfor %}

                </div>
            </div>

            <div class="col-sm-4">
                {% include sidebar.html %}
            </div>

        </section>