    <section id="portfolio-work">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="block">
                  <div class="portfolio-menu">
                    <ul>
                        <li class="filter" data-filter="all">Everything</li>
                        {% assign filters = site.data.projects | group_by: 'category' %}
                        {% for filter in filters %}
                        <li class="filter" data-filter=".{{ filter.name }}">{{ filter.name }}</li>
                        {% endfor %}
                    </ul>
                  </div>
                  <div class="portfolio-contant">
                    <ul id="portfolio-contant-active">
                      {% for project in site.data.projects %}
                        <li class="mix {{ project.category }}">
                          <a href="#">
                            <img src="{{ project.img }}" alt="{{ project.title }}">
                            <div class="overly">
                              <div class="position-center">
                                <h2>{{ project.title }}</h2>
                                <p>{{ project.content }}</p>
                                
                              </div>
                            </div>
                          </a>
                      </li>
                      {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>