<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://certification.comptia.org/certifications/security">CompTIA Security+</a></li>
            <li><a target="blank" href="https://www.geeksforgeeks.org/csharp-programming-language/">Geeksforgeeks</a></li>
            <li><a target="blank" href="https://www.javatpoint.com/">Javapoint</a></li>
            <li><a target="blank" href="https://www.w3resource.com/">Exercises & Practices</a></li>
            <li><a target="blank" href="https://www.microsoft.com/en-us/learning/browse-all-certifications.aspx">Microsoft's Certifications</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
           <a href="http://hocvoichuyengia.com/" title="Sell digital downloads with WordPress, for free"><img src="{{ site.baseurl }}/assets/images/image-recommered.jpg" alt="Sell digital downloads with WordPress, for free" /></a>
        </div>
            
</div>