                  <ul class="social-icons">
                    <li>
                      <a href="http://www.themefisher.com"><i class="fa fa-google"></i></a>
                    </li>
                    <li>
                      <a href="http://www.themefisher.com"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="http://www.themefisher.com"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li>
                      <a href="http://www.themefisher.com"><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li>
                      <a href="http://www.themefisher.com"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                      <a href="http://www.themefisher.com"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="http://www.themefisher.com"><i class="fa fa-facebook"></i></a>
                    </li>
                  </ul>